---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: mail
spec:
  ingressClassName: nginx
  rules:
    - host: mailpit.172.21.250.20.nip.io
      http:
        paths:
          - pathType: Prefix
            backend:
              service:
                name: mail
                port:
                  number: 80
            path: /
